.banner {
	display: flex;
	gap: 16px;
	padding-inline: 16px;
	padding-bottom: 18px;
	margin-bottom: 24px;
	overflow-x: auto;
	scroll-snap-type: inline mandatory;
	scroll-snap-stop: always;
	overscroll-behavior: contain;
}

.banner::-webkit-scrollbar {
	height: 6px;
}

.banner::-webkit-scrollbar-track {
	background-color: var(--surface-variant);
	border-radius: var(--radius-full);
}

.banner::-webkit-scrollbar-thumb {
	background-color: var(--on-surface-variant);
	border-radius: var(--radius-full);
}

.banner::-webkit-scrollbar-button {
	width: calc(25% - 28px);
}

.bannerCard {
	--gradient-direction: 180deg;
	--primary-hsl: 178, 89%, 70%;
	--secondary-hsl: 32, 100%, 85%;
	--tertiary-hsl: 3, 100%, 92%;

	position: relative;
	height: 360px;
	min-width: 100%;
	border-radius: var(--radius-extra-large);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	scroll-snap-align: start;
	scroll-margin-inline: 16px;
	z-index: 1;
}

[data-theme="dark"] .bannerCard {
	--primary-hsl: 178, 89%, 16%;
	--secondary-hsl: 38, 100%, 20%;
	--tertiary-hsl: 356, 66%, 32%;
}

.bannerCard.primary {
	background-color: var(--primary-container);
	color: var(--on-primary-container);
}
.bannerCard.secondary {
	background-color: var(--secondary-container);
	color: var(--on-secondary-container);
}
.bannerCard.tertiary {
	background-color: var(--tertiary-container);
	color: var(--on-tertiary-container);
}

.cardContent {
	--gradient-hsl: var(--primary-hsl);
	height: 100%;
	width: 100%;
	display: grid;
	align-content: flex-end;
	gap: 12px;
	padding: 24px;
	background-image: linear-gradient(
		var(--gradient-direction),
		hsla(var(--gradient-hsl), 0) 0%,
		hsla(var(--gradient-hsl), 0.36) 24%,
		hsla(var(--gradient-hsl), 0.64) 48%,
		hsla(var(--gradient-hsl), 1) 68%
	);
}
.bannerCard.secondary .cardContent {
	--gradient-hsl: var(--secondary-hsl);
}

.bannerCard.tertiary .cardContent {
	--gradient-hsl: var(--tertiary-hsl);
}

.cardTitle {
	width: 16ch;
}

.cardText {
	display: none;
}

.cardGrid {
	position: absolute;
	top: -16px;
	left: -16px;
	bottom: 28%;
	right: -16px;
	display: grid;
	gap: 12px;
	grid-template-areas:
		"b1 b1 b2 b2 b3 b3 b3 b3"
		"b1 b1 b2 b2 b3 b3 b3 b3"
		"b4 b4 b2 b2 b3 b3 b3 b3"
		"b4 b4 b5 b5 b5 b6 b6 b6"
		"b4 b4 b5 b5 b5 b6 b6 b6";
	grid-template-columns: repeat(8, minmax(0, 1fr));
	grid-template-rows: repeat(5, minmax(0, 1fr));
	z-index: -1;
}

.cardBanner {
	border-radius: var(--radius-large);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	scale: 1.05;
}

.bannerCard.primary .cardBanner {
	background-color: var(--on-primary-container);
	box-shadow: 0 2px 2px -1px #00201f;
}

.bannerCard.secondary .cardBanner {
	background-color: var(--on-secondary-container);
	box-shadow: 0 2px 2px -1px #2a1800;
}

.bannerCard.tertiary .cardBanner {
	background-color: var(--on-tertiary-container);
	box-shadow: 0 2px 2px -1px #2a1800;
}

/* ----------------------------------- */
/* ! MEDIA QUERIES */
/* ----------------------------------- */

@media screen and (min-width: 600px) {
	.bannerCard {
		--gradient-direction: 270deg;
	}

	.bannerCard .cardContent {
		align-content: center;
	}

	.bannerCard .cardGrid {
		left: 32%;
		bottom: -16px;
	}
}

@media screen and (min-width: 900px) {
	.bannerCard .cardContent {
		padding: 32px;
	}

	.bannerCard .cardText {
		display: block;
		max-width: 40%;
	}
}

/*! responsive for larger than 1240px screen */

@media screen and (min-width: 1240px) {
	.bannerCard {
		height: 420px;
	}

	.cardContent {
		padding: 48px;
	}
}

/*! responsive for larger than 1400px screen */

@media screen and (min-width: 1400px) {
	.bannerCard {
		height: 560px;
	}
	.cardContent {
		padding: 84px;
	}
}
